{% extends 'base.html.twig' %}

{% block title %}MCC - Home{% endblock %}

{% block body %}
<img class="nav-item plant" src="{{ asset('pictures/plant.png') }}">

<div class="home-title" role="main">

{#if connected user#}
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <h1> Les Charmantes Carottes de {{app.user.username}}</h1>
                    {% else %}
                    <h1> Mes Charmantes Carottes</h1>
                    {% endif %}

<a class="nav-link btn-success" href="{{ path('homepage') }}">Entrer</a></div>
<div class="vegetables">
<img class="vegetable" src="{{ asset('pictures/carrot.png') }}">
<img  class="vegetable" src="{{ asset('pictures/potato.png') }}">
<img  class="vegetable" src="{{ asset('pictures/broccoli.png') }}">
</div>
 <input type="button"  class="btn btn-previous btn-outline-dark" value="Page précédente" onclick="history.go(-1)">
{% endblock %}
